html,body{
   margin:0;
   margin-top:50px;
   padding:0;
   background-color:#c0c0c0;
}
.ui-textfield,ui-button,.ui-table tr,p,h1,h2,h3,h4,h5,h6,h7,a{font-family:"Arial",sans-serif;}
.ui-textfield,.ui-table tr,p,h1,h2,h3,h4,h5,h6,h7,a{color:#a0a0a0;}
.ui-container{
   background-color:#ffffff;
   border-radius:25px;
   margin:auto;
   padding:25px 10px;
}
.ui-small{width:40%;}
.ui-big{width:80%;}
.ui-table{
	margin:20px;
	border-spacing:10px;
}
.ui-table th,.ui-table tr{
	text-align:center;
}
a:hover{color:#4caf50;}
a:active{color:#6ccf70;}
a{color:#a0a0a0;}
.ui-textfield{
   margin:auto;
   width:50%;
   margin-bottom:15px;
   height:34px;
   border:1px solid #bbbbbb;
   border-radius:10px;
   text-align:center;
   color:#a0a0a0;
}
.ui-textfield{
  -webkit-transition-duration:0.4s;
  transition-duration:0.4s;
}
::-webkit-input-placeholder{
   color:#a0a0a0;
   font-size:16px;
}
::-moz-placeholder{
   color:#a0a0a0;
   font-size:16px;
}
:-ms-input-placeholder{
   color:#a0a0a0;
   font-size:16px;
}
:-moz-placeholder{
   color:#a0a0a0;
   font-size:16px;
}
.ui-button{
   background-color:#b0b0b0;
   padding:12px 25px;
   margin:0px;
   border:none;
   color:#ffffff;
   text-align:center;
   text-decoration:none;
   display:inline-block;
   font-size:16px;
   border-radius:10px;
}
.ui-button{
  -webkit-transition-duration:0.4s;
  transition-duration:0.4s;
}
.ui-button:hover{background-color:#4caf50;}
.ui-button:active{background-color:#6ccf70;}
.error{color:#ff0000;}